.form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 400px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.form-edit {
  width: 95%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 5%;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-edit > input,
.form-edit > textarea {
  width: 95%;
  margin: 8px;
  background-color: white;
  border: 2px solid #323232;
  border-radius: 5px;
  box-shadow: 4px 4px #323232;
  font-size: 15px;
  font-weight: bold;
  color: #323232;
  padding: 5px 15px;
  resize: vertical;
  min-height: 50px;
}

.form-edit > input::placeholder,
.form-edit > textarea::placeholder {
  color: #666;
  opacity: 0.8;
}

.update-button,
.close-button {
  width: 100px;
  height: 40px;
  margin: 8px;
  background-color: white;
  border: 2px solid #323232;
  border-radius: 5px;
  box-shadow: 4px 4px #323232;
  font-size: 15px;
  font-weight: bold;
  color: #323232;
}

.update-button:hover {
  color: white;
  background-color: darkgrey;
}

.update-button:active {
  box-shadow: 0px 0px #323232;
  transform: translate(3px, 3px);
}

/* .close-button {
  width: 100px;
  height: 50px;
  background-color: white;
  border: 2px solid #323232;
  border-radius: 5px;
  box-shadow: 4px 4px #323232;
  font-size: 15px;
  font-weight: bold;
  color: #323232;
  cursor: pointer;
} */

.close-button:hover {
  background-color: red;
  color: #ffffff;
}

.close-button:active {
  box-shadow: 0px 0px #323232;
  transform: translate(3px, 3px);
}
