.todo_container {
  cursor: pointer;
  display: grid;
  grid-template-columns: 0.1fr 2.8fr 0.1fr;
  border: 1px solid #323232;
}

.scroll-container {
  overflow: auto;
}

.scroll-container::-webkit-scrollbar {
  padding-bottom: 5px;
  width: 8px; /* Độ rộng của thanh trượt */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Màu nền của thanh trượt */
  border-radius: 4px; /* Độ cong viền của thanh trượt */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Màu nền của thanh trượt khi hover */
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Màu nền của vùng track */
}

.todo {
  flex-grow: 1;
  margin-left: 10px;
  font-weight: bold;
}

.line_through {
  text-decoration: line-through;
}

.task {
  font-size: 18px;
}

.description {
  font-size: 15px;
  color: #666;
}

.deadline {
  font-size: 15px;
  color: #666;
}
